html
  body

    .button
      padding: 0.6rem

    a
      color: hsl(171, 100%, 41%)

    .button.is-dark.is-outlined
      border-color: #0042EB
      border-width: 1px 0px 1px 1px
      background-color: #243341

    .button.is-dark.is-outlined.is-focused
      border-color: #0042EB

    .button.is-dark.is-outlined:hover, .button.is-dark.is-outlined.is-hovered, .button.is-dark.is-outlined:focus, .button.is-dark.is-outlined.is-focused
      background-color: #0042EB
      border-color: #0042EB
      color: #fff

    .table td, .table th
      border: 0px none

    .button.is-rounded
      border-radius: 0px
      border-top-left-radius: 15px
      border-bottom-left-radius: 15px

    .circle
      display: inline-block
      width: 45px
      height: 45px
      line-height: 45px
      border-radius: 50%
      background: #0042EB
      text-align: center
